*{
    margin: 0;
    padding: 0;
    text-align: center;
}

nav{
    height: 10vh;
    width: 100vw;
    background-color: rgb(12, 12, 36);
}
h3{
    padding-top: 2vmin;
    color: white;
}
.image{
    height: 150px;
    width: 150px;
    
    border-radius: 50%;
    object-fit: cover;
}
.choice{
     border-radius: 50%;
     height: 165px;
     width: 165px;
     display:flex;
    justify-content: center;
    align-items: center;
     
}
#choices{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
.choice:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color: black;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}
#user-score,#comp-score{
    font-size: 2rem;
}
.score{
    margin: 2%;
}
#msg-container{
 margin-top: 100px;
}
#msg{
   font-size: 25px;
   color: white;
    display: inline;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(10, 10, 87);
}