*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color: white;
}
body{
    background-color: rgb(29, 29, 53);
}
#container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0,0, 0.1);
    font-size: 10vmin;


}
#reset{
    height: 4rem;
    background-color: white;
    width: 12rem;
    border-radius: 16rem;
    border: none;
    font-size: medium;
}
p{
    font-size: 5rem;
}
#new-game-btn{
    margin-top: 2rem;
     height: 2rem;
    background-color: white;
    width: 12rem;
    border-radius: 16rem;
    border: none;
    font-size: medium;
}
.hide{
   display: none;
   
}

